node_modules
.DS_Store
package-lock.json

echo "# vinted-api" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/deschoux/vinted-api.git
git push -u origin mainecho "# my-repository" >> README.md