# dependencies
node_modules

# misc
.DS_Store


# dotenv environment variable files
.env


echo "# Vinted-Api" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/deschoux/Vinted-Api.git
git push -u origin main